@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500&display=swap');

:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-orange: #EE9972;
  --secondary-cream: #FBDABB;
  --secondary-grey: #EDEFEE;
  --secondary-dark: #333333;

  --fw-medium: 500;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul { list-style: none; }

.display-title {
  font-family: 'Markazi Text', serif;
  font-size: 64px;
  font-weight: var(--fw-medium);
}
.sub-title {
  font-family: 'Markazi Text', serif;
  font-size: 40px;
  font-weight: var(--fw-regular);
}
.lead-text { /* descriptive items, home page or CTA */
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: var(--fw-medium);
}
.section-title {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: var(--fw-extra-bold);
  text-transform: uppercase;
}
.section-categories {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: var(--fw-extra-bold);
}
.card-title {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: var(--fw-bold);
}
.paragraph {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: var(--fw-regular);
}
.highlight { /* price */
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: var(--fw-medium);
  color: var(--secondary-orange);
}

/* Button */
.btn {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: var(--fw-medium);
  border-radius: 16px;
  border: none;
  padding: 10px;
}
.btn.primary {
  background-color: var(--primary-yellow);
}
/* Header */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

/* Navigation bar */
.navbar {
  display: flex;
}
.navbar ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Hero */
.hero {
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px;
  background-color: var(--primary-green);
  padding: 20px;
}
.hero .content {
  max-width: 400px;
}
.hero .display-title {
  color: var(--primary-yellow);
}
.hero .sub-title {
  color: var(--secondary-grey);
  align-self: center;
}
.hero .paragraph {
  color: var(--secondary-grey);
  margin-bottom: 20px;
}
.hero .image-wrapper {
  overflow: hidden;
  height: 300px;
  width: 300px;
  border-radius: 16px;
  transform: translateY(50px);
}
.hero .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Specials */
.specials {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.specials .title_button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.specials .sub-title {
  align-self: center;
}
.specials .cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Specials card */
.specials_card {
  width: 260px;
  height: 439px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 185px auto 1fr auto;
  border-radius: 16px;
  background-color: var(--secondary-grey);
}
.specials_card .image_wrapper {
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
}
.specials_card .image_wrapper img {
  width: 100%;
  height: 100%;
}
.specials_card .card-title {
  grid-row: 2 / span 2;
  grid-column: 1 / span 2;
  padding: 20px 0 20px 20px;
}
.specials_card .highlight {
  grid-row: 2 / span 1;
  grid-column: 3 / span 2;
  text-align: right;
  padding: 20px 20px 20px;
}
.specials_card .paragraph {
  grid-row: 3 / span 1;
  grid-column: 1 / span 4;
  color: var(--secondary-dark);
  padding: 20px;
}
.specials_card .order {
  grid-row: 4 / span 1;
  grid-column: 1 / span 4;
  padding: 0px 0px 20px 20px;
}

/* Testimonials */
.testimonials {
  display: flex;
  padding: 70px 20px;
  background-color: var(--primary-green);
  flex-direction: column;
  gap: 40px;
}
.testimonials .sub-title {
  color: var(--secondary-grey);
  text-align: center;
  align-self: center;
}
.testimonials .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Testimonial card */
.testimonial_card {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-grey);
  padding: 20px;
  gap: 20px;
  border-radius: 16px;
}
.testimonial_card .rating {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.testimonial_card .rating img {
  width: 18px;
  height: 18px;
}
.testimonial_card .rating .highlight { color: var(--secondary-orange); }
.testimonial_card .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.testimonial_card .user img {
  width: 47px;
  height: 47px;
  border-radius: 16px;
}

/* About */
.about {
  display: flex;
  padding: 70px 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about .content {
  max-width: 400px;
}
.about images {
  width: fit-content;
  position: relative;
}

.about .images .image_1 {
  width: 50%;
  height: 340px;
  object-fit: cover;
  border-radius: 16px;
}
.about .images .image_2 {
  width: 270px;
  height: 340px;
  object-fit: cover;
  border-radius: 16px;
  position: absolute;
  right: 70px;
  transform: translateY(-20px);
}

/* Footer */
footer {
  padding: 70px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--secondary-grey);
  overflow: hidden;
}
footer .navigation {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .contact {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}
footer .contact ul li {
  text-overflow: clip;
  text-wrap: pretty;
}
footer .social {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .navigation ul,
footer .contact ul,
footer .social ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .navigation ul li,
footer .contact ul li,
footer .social ul li {
  font-size: 20px;
  font-weight: var(--fw-medium);
  font-family: 'Karla', sans - serif;
}

/* Table Reservation Form */
.table_res_form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  flex-wrap: wrap;
}

/* Input & labels */
label {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: var(--fw-medium);
  margin-bottom: 10px;
}
label + input,
label + select {
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  font-weight: var(--fw-medium);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid var(--secondary-dark);
  margin-bottom: 20px;
}
label + input.error,
label + select.error {
  outline: 1px solid tomato;
}
label > span {
  font-size: 16px;
  color: tomato;
}

/* Anchors */
a {
  color: var(--secondary-dark);
  text-decoration: none;
  transition: color .3s linear, text-decoration .3s linear;
}
a:hover {
  color: var(--primary-green);
  text-decoration: 2px solid underline var(--primary-yellow);
}
/* Media queries */
@media (max-width: 950px) {
  .about .images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    gap: 20px;
  }
  .about .images .image_1,
  .about .images .image_2 {
    position: relative;
    transform: none;
    right: 0;
    width: 50%;
  }
}
@media (max-width: 800px) {
  footer {
    flex-direction: column;
    align-items: start;
    padding: 20px;
  }

  footer .navigation,
  footer .contact,
  footer .social {
    max-width: 350px;
  }

  .table_res_form {
    padding: 20px;
  }
}